body {
    background-color: #141626;
    margin: 0;
}

* {
    font-family: Helvetica, sans-serif;
    /* margin: 0; */
}

.atasan {
    position: absolute;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    top: 10;
    left: 10%;
    right: 5%;
}

.logo img {
    max-width: 150px;
    min-height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;
}

nav {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
    background-color: #141626;
}

nav ul li a {
    text-decoration: none;
    text-emphasis: none;
    padding: 10px 150px 10px 10px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
}

nav ul {
    /* margin-left: 18%; */
    margin-right: auto;
    display: block;
    margin-top: -10px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding-right: 150px;
    padding-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
}

.dropdown-content a {
    text-align: left;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Helvetica, sans-serif;
}

.dropdown-content a:hover {
    background-color: #141626
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mySlides {
    display: block;
}

.textdalamnya {
    position: relative;
}

.text {
    color: #ffffff;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 25%;
    margin-top: auto;
}

.garisatas {
    color: #ffffff;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 22%;
    margin-top: auto;
}

.garisbawah {
    color: #ffffff;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 30%;
    margin-top: auto;
}

.dots {
    text-align: center;
    margin-top: -10%;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active,
.dot:hover {
    background-color: #f2f2f2;
}

.gambartulungagung {
    margin: 80px;
}

.sekilas {
    background-color: #cf7500;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: 40%;
    margin-top: 200px;
}

.sekilasta {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}

.sekilas h2 {
    font-family: Helvetica, sans-serif;
    color: white;
}

.gambartulungagung {
    text-align: center;
}

.tulungagungdepan img,
.tulungagungbelakang img {
    max-width: 600px;
    min-width: auto;
}

.tulungagungdepan {
    z-index: -1;
    margin-top: -400px;
    margin-left: 40px;
}

.tulungagungadalah {
    margin: 60px;
    color: white;
}

.tulungagungadalah .selengkapnya {
    position: relative;
    width: 150px;
    left: 75%;
}

.selengkapnya button {
    cursor: pointer;
    background-color: #cf7500;
    color: white;
    border-radius: 75px;
    border: none;
    padding: 1px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tulungagungadalah .selengkapnya h4 {
    text-align: center;
}

.tulungagungadalah p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.wisatapilihan {
    background-color: #cf7500;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    left: 40%;
    margin-top: 100px;
}

.wisatapilihanbgt {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}

.wisatapilihan h2 {
    font-family: Helvetica, sans-serif;
    color: white;
}

.tabelwisatapilihan table {
    margin-top: 70px;
    position: relative;
    left: 25%;
    right: 25%;
    text-align: center;
}

.tabelwisatapilihan tr,
.tabelwisatapilihan td {
    margin: 30px;
    padding: 15px 30px;
}

.tabelwisatapilihan h4 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.tabelwisatapilihan img {
    max-width: 300px;
    box-shadow: 5px 10px 20px rgb(4, 4, 4);
    border-radius: 2px;
}

.profile {
    position: absolute;
    background-color: #0e1130;
    max-width: 100%;
    box-shadow: 5px 10px 18px black;
}

.profile td {
    padding: 15px 20px;
    color: white;
}

.btbawah {
    background-color: #cf7500;
    width: 240px;
    padding: 1px 0px 1px 15px;
}

#footerlogo {
    padding: 35px;
}

#kedua {
    max-width: 30%;
}

.profile img {
    max-width: 200px;
}

#ketiga {
    background-color: #cf7500;
    color: white;
    max-width: auto;
}

#ketiga h2 {
    text-align: center;
    font-size: 30px;
}

#kedua p {
    font-size: larger;
    line-height: 35px;
    text-align: justify;
}

#ketiga img {
    width: 80px;
    padding-left: 15px;
    padding-right: 15px;
}