body {
    background-color: #141626;
}

.logo img {
    max-width: 150px;
    min-height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    text-emphasis: none;
    padding-right: 150px;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    display: inline-block;
}

nav ul {
    margin-left: 18%;
    margin-right: auto;
    display: block;
}

.dropbtn {
    background-color: #141626;
    color: white;
    padding-right: 150px;
    padding-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #141626;
    min-width: 160px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Helvetica, sans-serif;
}

.dropdown-content a:hover {
    background-color: #141626
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mySlides {
    display: none
}

.slideshow-container img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 100%;
    min-width: auto;
    position: relative;
    margin: 0;
}

.text {
    color: #ffffff;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 25%;
    margin-top: auto;
}

.garisatas {
    color: #ffffff;
    font-size: 24px;
    font-family: sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 22%;
    margin-top: auto;
}

.garisbawah {
    color: #ffffff;
    font-size: 24px;
    font-family: sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 30%;
    margin-top: auto;
}

.dots {
    text-align: center;
    margin-top: -10%;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f2f2f2;
}


/* Fading */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.gambartulungagung {
    margin: 80px;
}

.sekilas {
    background-color: #cf7500;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: 40%;
    margin-top: 200px;
}

.sekilasta {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}

.sekilas h2 {
    font-family: Helvetica, sans-serif;
    color: white;
}

.gambartulungagung {
    text-align: center;
}

.tulungagungdepan img,
.tulungagungbelakang img {
    max-width: 600px;
    min-width: 400px;
}

.tulungagungbelakang {
    opacity: 0.9;
    z-index: -1;
}

.tulungagungdepan {
    z-index: 1;
}